@use '../media' as *;

.header {
  position: absolute;
  top: 24px;
  right: 0;
  left: 0;
  z-index: 10;

  @include tablet {
    top: 20px;
  }

  @include mobile {
    top: 12px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 165px;

    @include tablet {
      width: 130px;
    }

    @include mobile {
      width: 80px;
    }
  }

  &__link {
    display: block;

    @include mobile {
      display: none;
    }
  }
}
