@use '../media' as *;

.hero {
  padding-top: calc(476 / 1440 * 100%);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.76) 65%,
      rgba(0, 0, 0, 1) 100%
    ),
    image-set(
      url('/img/hero-bg@2x.avif') type('image/avif') 2x,
      url('/img/hero-bg.avif') type('image/avif'),
      url('/img/hero-bg@2x.webp') type('image/webp') 2x,
      url('/img/hero-bg.webp') type('image/webp'),
      url('/img/hero-bg@2x.jpg') 2x,
      url('/img/hero-bg.jpg')
    );

  @include laptop {
    padding-top: calc(337 / 1024 * 100%);
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0.76) 65%,
        rgba(0, 0, 0, 1) 100%
      ),
      image-set(
        url('/img/hero-bg-1024@2x.avif') type('image/avif') 2x,
        url('/img/hero-bg-1024.avif') type('image/avif'),
        url('/img/hero-bg-1024@2x.webp') type('image/webp') 2x,
        url('/img/hero-bg-1024.webp') type('image/webp'),
        url('/img/hero-bg-1024@2x.jpg') 2x,
        url('/img/hero-bg-1024.jpg')
      );
  }

  @include tablet {
    padding-top: calc(337 / 768 * 100%);
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0.76) 65%,
        rgba(0, 0, 0, 1) 100%
      ),
      image-set(
        url('/img/hero-bg-768@2x.avif') type('image/avif') 2x,
        url('/img/hero-bg-768.avif') type('image/avif'),
        url('/img/hero-bg-768@2x.webp') type('image/webp') 2x,
        url('/img/hero-bg-768.webp') type('image/webp'),
        url('/img/hero-bg-768@2x.jpg') 2x,
        url('/img/hero-bg-768.jpg')
      );
  }

  @include mobile {
    padding-top: calc(173 / 320 * 100%);
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0.76) 65%,
        rgba(0, 0, 0, 1) 100%
      ),
      image-set(
        url('/img/hero-bg-320@2x.avif') type('image/avif') 2x,
        url('/img/hero-bg-320.avif') type('image/avif'),
        url('/img/hero-bg-320@2x.webp') type('image/webp') 2x,
        url('/img/hero-bg-320.webp') type('image/webp'),
        url('/img/hero-bg-320@2x.jpg') 2x,
        url('/img/hero-bg-320.jpg')
      );
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }

  &__banner {
    max-width: 100%;
    width: 795px;
    margin-bottom: 2px;

    @include laptop {
      width: 639px;
    }
  }

  &__date {
    font-size: 40px;
    text-transform: uppercase;
    color: #ff3d00;
    margin-bottom: 16px;

    @include laptop {
      font-size: 32px;
    }

    @include tablet {
      margin-bottom: 12px;
    }

    @include mobile {
      font-size: 20px;
    }
  }

  &__link {
    display: none;

    @include mobile {
      display: block;
      margin-bottom: 32px;
    }
  }

  &__arrow {
    width: 64px;
    height: 64px;

    &:hover {
      color: #ff3d00;
    }

    @include tablet {
      width: 36px;
      height: 36px;
    }
  }
}
