@use '../media' as *;

.trailers {
  padding-bottom: 120px;

  @include laptop {
    padding-bottom: 100px;
  }

  @include tablet {
    padding-bottom: 80px;
  }

  @include mobile {
    padding-bottom: 60px;
  }

  &__container {
    @include mobile {
      padding: 0;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;

    @include tablet {
      gap: 8px;
    }

    @include mobile {
      padding: 0 16px;
      overflow-x: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;
    }
  }

  &__buttons::-webkit-scrollbar {
    display: none;
  }

  &__list {
    @include mobile {
      padding: 0 16px;
    }
  }

  &__button {
    border-radius: 8px;
    padding: 14px 20px;
    background-color: #272928;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap;
    transition: background-color 0.3s ease-in-out;

    @include tablet {
      font-size: 12px;
      padding: 10px 16px;
    }

    @include mobile {
    }

    &:focus,
    &:hover {
      background-color: #ff521b;
    }
  }

  &__button_active {
    background-color: #ff3d00;
  }

  &__wrapper {
    display: none;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }

  &__video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
